{% extends 'layout.html.twig' %}

{% set page = { 'id' : 'pageAccueil' } %}

{% block container_content %}
<h1>&gt; <i class="icon-user"></i> Pouet ! </h1>
<input type="text" placeholder="Place holder de text" value=""/>
{% endblock %}
